body {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin: auto;
    background-color: #FFFDFA;
    color: #29384D;
    text-align: justify
}

h1 {
    text-align: center;
    color: #FF283F;
}

blockquote {
    font-family: Cambria, 'Times New Roman', serif;
    font-weight: bold;
    color: #517394;
    border: .2vh dashed #3C556E;
    padding: 1vh;
}

cite {
    text-align: left;
}

a:link {
    color: #517394;
}

.themarkets {
    color: #FF283F;
    font-weight: bold;
}

.quote {
    float: right;
    width: 40%;
    margin-right: 0;
    margin-left: 1rem;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.floatleft {
    float: left;
    margin: 0 1rem 1rem 0;
}

.floatright {
    float: right;
    margin: 0 0 1rem 1rem;
}

.navbar * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.main-nav {
    list-style-type: none;
}

.nav-links, .logo {
    text-decoration: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}