body {
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin: auto;
    background-color: #FFFDFA;
    color: #29384D;
    text-align: justify
}

h1 {
    text-align: center;
    color: #FF283F;
}

blockquote {
    font-family: Cambria, 'Times New Roman', serif;
    font-weight: bold;
    color: #517394;
    border: .2vh dashed #3C556E;
    padding: 1vh;
}

cite {
    text-align: left;
}

a:link {
    color: #517394;
}

.themarkets {
    color: #FF283F;
    font-weight: bold;
}

.quote {
    float: right;
    width: 40%;
    margin-right: 0;
    margin-left: 1rem;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.floatleft {
    float: left;
    margin: 0 1rem 1rem 0;
}

.floatright {
    float: right;
    margin: 0 0 1rem 1rem;
}
